---
layout: default
title: Home
description: arcestia - Social Media Addict, Writer, open source developer
---

<h1 class="page-title">Posts</h1>
<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23730910-3']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
<div class="post">
<div class="post-list">
  {% for post in paginator.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    <br>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date small">{{ post.date | date_to_string }}</time>
    {% for cat in post.categories %}
      <a class="cat small" href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>
    {% endfor %}
    </li>
  {% endfor %}
</div>
</div>
