#menu{width:977px;margin-left:200px;margin-top:5px;border-radius:5px;padding:3px;}
.searchinput {width: 200px; background:none;color:#fff;}
#boxsearch::-webkit-input-placeholder{color:#fff;}
button{border-width:2px; border-radius:5px;} .
menusearch{width:250px;background:none;border:1px solid #fff;border-radius:2px; }
.menusearch div div{background-position: -15px 106px;} #kwiksm.menusub.bgsilver.mnpathlft, #cbox, #sidebar.rg.rightsize,#bigmenuselect3{display:none !important;}
#menu .logo {border-right: none;}
#nameWeb.mnpathmn.lf{padding:5px;}
.p_cover {margin-top: 0px;width: 100%;position: absolute;left: 0px;height:400px;}
#canvas{margin-top:0px;}
.p_cover_left{margin-top:300px;background:none;margin-left:30px;}
.p_name{position:absolute; margin:10px 0px 0px 320px; text-align:left;} .p_name span {font-size: 30px;}
#body{margin-top:120px;margin-left:230px;width:920px;}
div.slow.menuactive{color:#000; background:none;border-left:2px solid #1abc9c}
iframe{width:870px;}
.p_activity{ position: absolute; margin-left: 130px;margin-top: 15px;}
.menu_horizontal div{border-left:2px solid; padding:10px; border-left:2px solid #888;color:#888;margin:5px;}
#mdrop4{margin:10px 100px;}
#mdrop3{margin:10px 170px;}
#mdrop2{margin:10px 200px;}
.menu_horizontal div:hover{color:#000; background:none;border-left:2px solid #1abc9c} .menu_horizontal div:active{color:#1abc9c; background:none;border-left:2px solid} div.menu_horizontal.bordertop{/*http://img2.kwikku.com/userdata/size200/ntizzt.jpg*/position:absolute;margin:410px 0px 0px 350px; border-top:none !important;text-align: center;width: 840px;height: 45px;display: table-cell;vertical-align: middle;text-decoration: none; color: #666; line-height: 15px;font-size: 13px;border-top: 1px solid #eee;background:none;} .p_photo{position:absolute;margin-left:180px;border-radius:0px;border : 5px solid #fff;box-shadow: 0 0 5px #333;}
