#chatset,#cbox{display:none;width:0px;}
div#sidebar.rg.rightsize{display:none;}
.p_cover{background:none; width: 300px;}
.menu_horizontal {
float: left;
width: 980px;
font-family: "font3";
background: #fff;
position: absolute;
margin-left: 270px;
border-top:none;
border-bottom:1px solid #1abc9c;
}
div.slow.menuactive {
color:#fff;
background: #1abc9c;
}
.dropselect .dselect .mb {
margin-left: 0px;
width: 460px;
}
#menu .notifarea .body {
margin-top:35px;
}
.menu_horizontal div:hover{color:#fff;
background: #1abc9c;}
.p_cover_left{
height:350px;
background:#fff;
}
.bgsilver {
background-color: #fff;
}
.s_type{display:none;}
body{
background:#EBEEF0;
}
.p_photo{
width:200px;
height:200px;
border-radius:0px;
border:none;
margin-top:25px;
}
.p_bodysts {
height: 0px;
position: absolute;
}
.p_name {
color:#000;
}
#body{
border-left:none;
padding-top:100px;
margin:25px auto;border-left:none;width:980px;margin-left:270px;background:#fff;
}
.status{margin-bottom:0px;padding:10px 10px;box-shadow:0 0 0 0.5px #e1e8ed;background:white;}.status:hover{background:#f5f8fa;}#stsd_sts{width:100%;padding:7px 0px;}
div#sidebar.lf.bdhead.leftsize{margin-top:345px;position:absolute;width:255px;}
