#chatset, #cbox{
display:none;
width:0px;
}
.bdhead {
    padding-top: 70px;
}
#body{
margin:0px auto;
border-left:none;
width:1015px;
margin-left:250px;
background: transparent;
}
body{
background:#f5f8fa;
}
.p_cover_left{
margin-top:150px;
background:none;
margin-left:30px;
}
.menusearch{border-radius: 10px;}
.menusearch input{border-radius: 10px;}

#d_isinotif .menu_horizontal{
margin-left: 0px;
margin-top: 0px;
position: static;
background: #fff;
width: 100%;
}
.popup{border-radius: 10px; box-shadow: 0 0 10px black;}
.p_photo{
background-image : url(https://lh3.googleusercontent.com/-cIgep0tO3ys/AAAAAAAAAAI/AAAAAAAAAAA/hPOBazxs_no/photo.jpg);
width:200px;
height:200px;
border : 5px solid #fff;
border-radius : 10%;
}
.p_name{
color:#000;
}
#menu{border-bottom: 1px solid rgba(0,0,0,0.15);}
button{background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));border-radius: 5px; box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);}

.menu_horizontal{
margin-left:300px;
margin-top:300px;
position:absolute;
background:#fff;
width:1015px;
}
.menu_horizontal div:hover{
border-bottom: 3px solid #1abc9c;
background:#fff;
}
.s_type{display: none;}
.status{margin-bottom: 0px; padding: 10px 10px; box-shadow: 0 0 0 0.5px #e1e8ed; background: white;}
.status:hover{background: #f5f8fa;}
#stsd_sts{width: 100%; padding: 7px 0px;}
.p_cover {
margin-top: 0px;
width: 100%;
position: absolute;
left: 0px;
}
a.font2.ft17{
display:none;
}
div.slow.menuactive{
border-bottom: 3px solid #1abc9c;
background:none;
}
div#sidebar.lf.bdhead.leftsize{
margin-top:450px;
position:absolute;
}
div#sidebar.rg.rightsize{
display:none;
}
#sidebar{
background:none;
}
.bgsilver{
background:none;
}
